/* general */

section p.pdeditor_buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}

/* attribute overview */

section.pdeditor_overview {}

section.pdeditor_overview ul {
    list-style: none;
}

/* attribute editor */

section.pdeditor_editor {}

section.pdeditor_editor form.pdeditor_attributes {
    margin: 2em 0;
}
section.pdeditor_editor form.pdeditor_attributes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section.pdeditor_editor form.pdeditor_attributes > ul {
    margin: 1em 0;
}
section.pdeditor_editor form.pdeditor_attributes li {
    position: relative;
    margin: 0;
    padding: 5px 0 0 0;
}
section.pdeditor_editor form.pdeditor_attributes ul ul {
    margin-left: 20px;
}
section.pdeditor_editor form.pdeditor_attributes ul input {
    position: absolute;
    right: 0px;
    width: 300px;
}

/* delete confirmation */

section.pdeditor_delete_confirmation {}

/* plugin info */

section.pdeditor_info {}
